@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
  content: "\e014";
}

ul {
	list-style-type: none;
}

#userImage {
	height: 150px;
	width: 150px;
	margin-right: 20px;
}

.form-control {
	width: 200px;
	font-size: 0.875rem;
}

.form-group {
	width: 200px;
}

input[type=file] {
	display: inline;
	width: 275px;
}

.interest-group {
	display: inline;
}

.sub-entry {
	width: 50%;
	float: left;
}

.vertical-center {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

.editprofileform {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	align-self: center;
	font-size: 14px;
}

.button {
	width: 125px;
		font-size: 14px;
}

.right-form {
	margin-top: 165px;
}

.image-group {
	width: 400px;
}

#addInterest {
	display: inline;
	width: 75px;
	margin-left: 15px;
}

#interestInput {
	display: inline;
	width: 200px;
}

#interestsList {
	margin-top: 20px;
	padding-left: 0px;
}

.interest {
	border: 1px solid #a95555;
	border-radius: 4px;
	padding: 4px;
	display: inline-block;
	margin: 3px;
	padding-left: 3px;
	background-color: #fb791c;
	color: white;
}

.remove-button {
	border: none;
	background: none;
	color: white;
}

.remove-button:hover {
 cursor:pointer;
}

.interest-value {
	padding-left: 5px;
}

.submit-group {
	display: inline-block;
	width: 275px;
	height: 100px;
	margin-left: 230px;
	margin-top: 20px;
}

.image-group {
	width: 500px;
}

#cancelButton {
	margin-left: 10px;
}